@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
    margin: 0px;
    padding: 75px 0px 0px 0px;
    background: #E6EBEE;
    font-family: helvetica;
}

.navbar-brand {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: x-large;
}

/* Table Overrides */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #ffffff;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #EEEEEE;
}

.msg-font {
    font-family: 'Share Tech Mono', monospace;
}

#header {
    position: relative;
    background: #FFFFFF;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #666666;
}

#headerInner {
    width: 960px;
    margin: 0px auto 0px auto;
}

#loggedInAs {
    float: right;
    margin: 16px;
}

#content {
    width: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#debugWrapper {
    max-width: 960px;
    font-size: 0.8em;
    margin: 200px auto 0px auto;
}

#debugExplanation {
    font-weight: bold;
    margin: 8px 8px 4px 8px;
}

#debug {
    background: #FFFFFF;
    border: 1px solid #666666;
}

#debug div {
    margin: 8px;
    white-space: pre-wrap;
}

.debugError {
    color: #AA0000;
    font-weight: bold;
}

#charcount {
    width: 400px;
    text-align: right;
    margin-left: 100px;
    font-size: x-small;
    position: absolute;
}

#newmsgtext {
    width: 400px;
    height: 80px;
    resize: none;
}

#userlist td + td {
    width: 100px;
}

#msgslist td {
    position: relative;
}

.user-well {
    width: 55px;
    height: 55px;

    position: absolute;

    margin: 0;
    font-size: 30px;
}

.msg-info {
    top: 5px;
    left: 75px;
    width: 400px;
    height: 20px;

    position: absolute;

    text-align: left;
    font-size: 13px;
    color: #CF6D6A;
}

.msg-action {
    top: 5px;
    right: 5px;
    font-size: 13px;

    position: absolute;
}

.msg-content {
    margin-top: 20px;
    min-height: 35px;
    margin-left: 60px;
}

.msg-repost-tag {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #CFCFCF;
    font-weight: bold;

    top: 35px;
    left: 75px;

    position: absolute;
}

.msg-repost {
    color: #CFCFCF;

    bottom: 5px;
    right: 5px;

    font-size: 13px;

    position: absolute;
}

label {
    width: 100px;
}

form button {
    margin-top: 5px;
}
